*~ 
*.tmp
.
./.DS_Store
./Week1
./Week1/.DS_Store
./Week1/Code
./Week1/Code/CountLines.sh
./Week1/Code/.DS_Store
./Week1/Code/MyExampleScript.sh
./Week1/Code/ConcatenateTwoFiles.sh
./Week1/Code/UnixPrac1.txt
./Week1/Code/.csv
./Week1/Code/boilerplate.sh
./Week1/Code/csvtospace.sh
./Week1/Code/variables.sh
./Week1/Code/tabtocsv.sh
./Week1/Sandbox
./Week1/Sandbox/TestFind
./Week1/Sandbox/TestFind/Dir2
./Week1/Sandbox/TestFind/Dir2/File2.txt
./Week1/Sandbox/TestFind/Dir2/File2.tex
./Week1/Sandbox/TestFind/Dir2/file2.csv
./Week1/Sandbox/TestFind/Dir3
./Week1/Sandbox/TestFind/Dir3/File3.txt
./Week1/Sandbox/TestFind/Dir
./Week1/Sandbox/TestFind/Dir1
./Week1/Sandbox/TestFind/Dir1/File1.txt
./Week1/Sandbox/TestFind/Dir1/File1.tex
./Week1/Sandbox/TestFind/Dir1/File1.csv
./Week1/Sandbox/TestFind/Dir1/Dir11
./Week1/Sandbox/TestFind/Dir1/Dir11/Dir111
./Week1/Sandbox/TestFind/Dir1/Dir11/Dir111/File111.txt
./Week1/Sandbox/TestFind/2
./Week1/Sandbox/test.txt.csv
./Week1/Sandbox/TestWild
./Week1/Sandbox/TestWild/File2.txt
./Week1/Sandbox/TestWild/File3.txt
./Week1/Sandbox/TestWild/File1.txt
./Week1/Sandbox/TestWild/File4.txt
./Week1/Sandbox/TestWild/Anotherfile.txt
./Week1/Sandbox/TestWild/File1.csv
./Week1/Sandbox/TestWild/File2.csv
./Week1/Sandbox/TestWild/File3.csv
./Week1/Sandbox/TestWild/File4.csv
./Week1/Sandbox/TestWild/Anotherfile.csv
./Week1/Sandbox/ListRootDir.txt
./Week1/Sandbox/test.txt
./Week1/ReadMe.txt
./Week1/Data
./Week1/Data/.DS_Store
./Week1/Data/1800.csv.txt
./Week1/Data/1801.csv.txt
./Week1/Data/spawannxs.txt
./Week1/Data/1803.csv.txt
./Week1/Data/1800.csv
./Week1/Data/1802.csv.txt
./Week1/Data/1801.csv
./Week1/Data/1803.csv
./Week1/Data/1802.csv
./Icon
./.gitignore
./README.txt
./.git
./.git/ORIG_HEAD
./.git/config
./.git/objects
./.git/objects/92
./.git/objects/92/92cde4af655bdc01bd51077b11689e4cb05fb6
./.git/objects/6f
./.git/objects/6f/48d287f135ff33c5e1b703b71b9cfcbaec1267
./.git/objects/6f/d33a9a4b0ee8879ec408d7572383a4885b762c
./.git/objects/94
./.git/objects/94/f5ec6d8b6b4820d6916e3faac6c1aef4f2cc73
./.git/objects/9d
./.git/objects/9d/38e5107b46a7609b794595ba0271f5ee3200a8
./.git/objects/be
./.git/objects/be/ef9c7ca81074d020d093b39600763c61728159
./.git/objects/bd
./.git/objects/bd/2c53cb5f12c6014f5de6ae98461716810cc5a9
./.git/objects/d6
./.git/objects/d6/0b63894136de73dd628114e2a11ffe1479e027
./.git/objects/eb
./.git/objects/eb/2d3757975e6945da814892f7e0c3d769ca1b1f
./.git/objects/eb/1b6ee2b0df5ae5aa76cde75e59fe07731ae8da
./.git/objects/c9
./.git/objects/c9/8a0a0e266a9dc9081a3323e40715b19ae81a2b
./.git/objects/fd
./.git/objects/fd/5058c62ee0464e004c040a13a9031bd432df35
./.git/objects/fd/27910cff7a086022fcba213b76a908bf488f06
./.git/objects/ca
./.git/objects/ca/84c5d5cbcfb3dcfc2f284645dd7d65f8022328
./.git/objects/c1
./.git/objects/c1/48e273c24eeb433a4410a69cc9135974e4a755
./.git/objects/c6
./.git/objects/c6/aff03c4773b48294183ea2a3da797dd779ce57
./.git/objects/20
./.git/objects/20/59f58980159a51c3b5997903f44fc5ce0552b9
./.git/objects/pack
./.git/objects/11
./.git/objects/11/40fbc2c6e2ce54854fbf5e206ccf1ada094db0
./.git/objects/7d
./.git/objects/7d/af340c3daf6875c67b56c2eb52aefc703992a0
./.git/objects/1a
./.git/objects/1a/9c2d5472ec751cdf13250c0ec2f1a30591c33e
./.git/objects/28
./.git/objects/28/96cc2389ef97d6b457282580eec0d2d903de03
./.git/objects/19
./.git/objects/19/2a15f5837ba379912aa2a445ddf265fe7dcde2
./.git/objects/21
./.git/objects/21/e04e0407c9025e6b6c00d596cd86165e1c2f47
./.git/objects/21/93229256ab1d694a5bb647387e6a73043b50e9
./.git/objects/2f
./.git/objects/2f/5de1a5f6b0f96d1cafe54ec50fdaa44ecb4265
./.git/objects/6b
./.git/objects/6b/d7d67e2ae0619781c21d5b613ee6f20ae9a949
./.git/objects/09
./.git/objects/09/d21ffacddfae984d0a29beef5f3d7a2a3b2a3c
./.git/objects/09/a0dc7d1ea20c7b0af116af67fc19778ce638ec
./.git/objects/09/451f623ebdd46580aff34914fc1348845959b7
./.git/objects/info
./.git/objects/96
./.git/objects/96/ecb0c1d184a812c803415c131861281fe50693
./.git/objects/5b
./.git/objects/5b/6bef6466dbd5430abc12fabe90d0bc94b817b9
./.git/objects/37
./.git/objects/37/bf03aed880659b401fbc7302b6227dceb4acb5
./.git/objects/6c
./.git/objects/6c/e11e9388cad1b9306c6e4672ab2ec1d25857dd
./.git/objects/0f
./.git/objects/0f/1eab7d7b3785ab5385eb06dab4d1dc0ba9b438
./.git/objects/0f/547e142b498510e086702796617746ab5af0ba
./.git/objects/0f/88b523998fa7b2b11223bef6fbc29cb7bff5c4
./.git/objects/d4
./.git/objects/d4/b023a84fb0b68c5a5b9000edf2e193dc00dd84
./.git/objects/a0
./.git/objects/a0/8a77865b4c79f533c96c1046e6569c7ec9350e
./.git/objects/b6
./.git/objects/b6/1e60cc559c07d8214c6f66c2e20dd4966d9a83
./.git/objects/d2
./.git/objects/d2/cf36e8e5781fcc3ccb108c9abf67427146d510
./.git/objects/d2/e191f3c7cfaa58dc6a1c05a3054c0035d4a77e
./.git/objects/e6
./.git/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391
./.git/objects/fa
./.git/objects/fa/e89bcb29223d15bbc018eb3af65d7704a627b8
./.git/objects/41
./.git/objects/41/531286d7ccdcb1650e7c6dc0aa04b7d9c70dac
./.git/objects/1b
./.git/objects/1b/4666af885a90f036394ba2d2e031a80046ee1f
./.git/objects/70
./.git/objects/70/9f5d6ba846c11b44757401ac2c5f8897e7c636
./.git/objects/84
./.git/objects/84/31d3ad6a7483b12f4eda3ac300249dfecb6afd
./.git/objects/24
./.git/objects/24/99cca818b41164f06a9142c9bdb7b3b4ed3691
./.git/objects/71
./.git/objects/71/749aaf449ccdc6de19d9bed53cd6e4b900f5cc
./.git/objects/82
./.git/objects/82/23fc4d7da11354cbdd611d854abbfd466039d8
./.git/objects/7f
./.git/objects/7f/150dc2edb6369936dd0c4fdb30db3fe9644da5
./.git/HEAD
./.git/info
./.git/info/exclude
./.git/logs
./.git/logs/HEAD
./.git/logs/refs
./.git/logs/refs/heads
./.git/logs/refs/heads/master
./.git/logs/refs/remotes
./.git/logs/refs/remotes/origin
./.git/logs/refs/remotes/origin/master
./.git/description
./.git/hooks
./.git/hooks/commit-msg.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-commit.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/pre-receive.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/pre-push.sample
./.git/hooks/update.sample
./.git/refs
./.git/refs/heads
./.git/refs/heads/master
./.git/refs/tags
./.git/refs/remotes
./.git/refs/remotes/origin
./.git/refs/remotes/origin/master
./.git/index
./.git/COMMIT_EDITMSG
./temporary.tmp
